body {
    background-color: blue;
}
h1 {
    color: white;
}

.quoteV {
    color: black;
    border: 200px solid red;
    margin: 400px;
    padding: 500px;
    font-family: cursive;
    font-size: 200px;
    background: yellow;
}

.quoteP {
    color: black;
    border: 200px dotted black;
    margin: 400px;
    padding: 500px;
    font-family: cursive;
    font-size: 200px;
    background: blue;
}
