body {
    min-height: 2500px;
    min-width: 2500px;
    overflow: auto;
    background-color: rgb(0, 100, 0);
}
h1 {
    color: white;
    opacity: 1;
    text-decoration: underline white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

.quoteV {
    color: white;
    border: 2px solid black;
    margin: 4px;
    padding: 5px;
    font-size: 16px;
    background: blue
    font-family: Gotham, Arial, sans-serif;

.quoteP {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: Gotham, Arial, sans-serif;
    color: white;
    border: 2px solid black;
    margin: 4px;
    padding: 5px;
    font-size: 16px;
    background: blue;
    z-index: 1000; /
}
 
