body {
    min-height: 2500px;
    min-width: 2500px;
    overflow: auto;
    background-color: rgb(0, 100, 0);
}
h1 {
    color: white;
    opacity: 1;
    text-decoration: underline white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

.quoteV {
    color: white;
    border: 2px solid black;
    margin: 4px;
    padding: 5px;
    font-family: Gotham;
    font-size: 16px;
    background: blue;
}

.quoteP {
    color: white;
    border: 2px solid black;
    margin: 4px;
    padding: 5px;
    font-family: New Times Roman;
    font-size: 16px;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    background: blue;
}
