html, body {
  position: relative;
  min-height: 2500px;
  max-width: 2500px;
  overflow: auto;
  background-color: blue;
}

.quote1, .quote2 {
  color: grey;
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  background: blue;
  font-family: Gotham, Arial, sans-serif;
  position: relative;
  cursor: pointer;
  transition: all 2s ease; 
}


.quote1 {
  top: 100px;
  left: 0;
}

.quote1:hover {
  transform: translateX(300px);
}


.quote2 {
  top: 250px;
  left: 100px;
  opacity: 1;
}

.quote2:hover {
  opacity: 0;
  visibility: hidden;
}
