.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#moveToggle {
    display: none;
}

.move-image {
    width: 200px;
    position: relative;
    cursor: pointer;
}

#moveToggle:checked + label .move-image {
    animation: moveLinear 7s linear forwards;
}

@keyframes moveLinear {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}
