.quote1 {
    color: white;
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
    font-size: 20px;
    background: blue;
    font-family: Gotham, Arial, sans-serif;
}

.quote2 {
    color: white;
    border: 4px solid black;
    margin: 4px;
    padding: 5px;
    font-size: 16px;
    background: blue;
    font-family: Gotham, Arial, sans-serif;
}
span {
  color: purple;
  font-size: 50px;
  font-family: courier;
  text-transform: uppercase;
letter-spacing: 1px;
linae-height: 11px;
}
#lovely {
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    right: 0;
    bottom: 0;

}
#answer {
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
}
