html, body {
    display: flex;
    flex-direction: flow;
    background-color: rgb(4, 7, 32);
    font-family: 'Verdana', Geneva, sans-serif;
    color: white;
    margin: 0;
}

.left {
    width: 25%;
    display: block;
    float: left;
    padding-left: 30px;
    padding-right: 20px;
}

.right {
    width: 75%;
    display: block;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    padding-left: 20px;
    max-width: 70ch;    
    line-height: 1.6;
}

img {
    display: block;
    margin: 0 auto;
    width: 25%;
}


@media screen and (max-width: 992px) {
    .left {
        width: 60%;
        float: none;
        margin: 0 auto;
        text-align: center;
        padding: 0px;
    }

    .right {
        width: 80%;
        text-align: center;
        float: none;
        margin: 0 auto;
        overflow-y: hidden;
        overflow-x: hidden;
        height: auto;
        max-width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 576px) {
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        max-width: 95%;
    }
}
