
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0;                
  width: 100%;
}


.img-container {
  position: relative;
  width: 100%;
  height: 300px;          
  overflow: hidden;
}


.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;     
  position: absolute;
  inset: 0;
  transition: opacity 0.3s ease;
}

.img-base {
  opacity: 1;
  z-index: 1;
}

.img-hover {
  opacity: 0;
  z-index: 2;
}


.img-text,
.img-text-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 8px black;
  width: 80%;
  transition: opacity 0.3s ease;
  z-index: 3;
}

.img-text-hover {
  opacity: 0;
}


.img-container:hover .img-base { opacity: 0; }
.img-container:hover .img-hover { opacity: 1; }
.img-container:hover .img-text { opacity: 0; }
.img-container:hover .img-text-hover { opacity: 1; }
