* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
}

.grid-container {
    display: grid;
    height: 100vh;          
    width: 100vw;            
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.grid-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.img1 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8c/David_-_The_Death_of_Socrates.jpg");
}
        
.img1a {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8c/David_-_The_Death_of_Socrates.jpg");
}
.img2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/fc/Edward_Portielje_-_The_winning_Hand.jpg");
}
    
.img2a{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/fc/Edward_Portielje_-_The_winning_Hand.jpg");
}

.img3 {
    background-image: url("https://media.mutualart.com/Images/2022_11/30/10/100323224/edward-cucuel-les-yachts-70NI2-338.Jpeg");
}

.img3a {
    background-image: url("https://media.mutualart.com/Images/2022_11/30/10/100323224/edward-cucuel-les-yachts-70NI2-338.Jpeg");

.img4 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/93/Wybrand_Hendriks_-_Interieur_met_een_slapende_man_en_een_vrouw_die_sokken_stopt_-_BR2876_-_Rijksmuseum_Twenthe.jpg");

}
.img4a {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/93/Wybrand_Hendriks_-_Interieur_met_een_slapende_man_en_een_vrouw_die_sokken_stopt_-_BR2876_-_Rijksmuseum_Twenthe.jpg");

.img5 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ00nZB1RN92xHonZ5S7jywweMeSz_jgdU7_Z2xC1XyrBe3TZxfrarDf9p3YwQC-Lx-B28&usqp=CAU");
}
.img5a {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ00nZB1RN92xHonZ5S7jywweMeSz_jgdU7_Z2xC1XyrBe3TZxfrarDf9p3YwQC-Lx-B28&usqp=CAU");
}
