}
.img1

.img5 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1ZisKTWu5TG0rS3mgCWKDM5Hwcqz_mVL1og&s"}
}
.img5a {
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1ZisKTWu5TG0rS3mgCWKDM5Hwcqz_mVL1og&s"}

#image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.img-base {
  opacity: 1;
  transition: opacity 0.3s ease;
  position: relative;
  z-index: 1;
}

.img-hover {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  inset: 0;
  z-index: 2;
}


.img-text,
.img-text-hover {
  position: absolute;
  top: 50%;
  left: 20px;      
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  width: 40%;      
  text-align: left;
  transition: opacity 0.3s ease;
  z-index: 3;
}

.img-text-hover {
  opacity: 0;
}


.img-container:hover .img-base {
  opacity: 0;
}

.img-container:hover .img-hover {
  opacity: 1;
}

.img-container:hover .img-text {
  opacity: 0;
}

.img-container:hover .img-text-hover {
  opacity: 1;
}
